<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="/static/TicTacToe.js"></script>
</head>
<body>
    <div class="players-info">
        <p>Player 1: {{ game.player_a }}</p>
        <p>Player 2: {{ game.player_b }}</p>
    </div>
    <div id="r1"></div>
    <div id="r2"></div>
    <div id="r3"></div>
</body>
</html>